<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav position="start" class="example-sidenav detailSidenav" mode="push" opened="false" style="width: 90%;">

    <button mat-icon-button class="btnCloseDet" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
      <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
    </button>

        <h4 style="padding-left: 15px;" matSubheader> Investment Analyst</h4>  
        <h2 matheader style="padding-left: 15px;margin: 0;">  Chris DeConinck  </h2>  
    

      <div style="padding-left: 15px;margin-bottom: 15px;">
        <h4 matheader>Manager Status </h4>  
        <button mat-flat-button color="warn"> TERM PENDING </button>
      </div>

      <mat-divider></mat-divider>
   
    <mat-nav-list class="itemDetailSideWrapper">
  
   
   

        

        <mat-list-item>
          <div class="itemDetailSide" style="">
   
         
       
         
           <div matLine class="itemMap">
             <h4 matLine class="map">NRA</h4>
             <p matLine class="subline">$0</p>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> Decrease NRA</h4>
                                             <p matLine class="subline"> $ on days</p>
                                         </div>   
          </div>
         </mat-list-item>

        <mat-list-item>
          <div class="itemDetailSide" style="">
   
           <div matLine class="itemMap">
             <h4 matLine class="map">Manager Contact</h4>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> Manage</h4>
                                         </div>   
          </div>
         </mat-list-item>



        <mat-list-item>
          <div class="itemDetailSide" style="">
   
           <div matLine class="itemMap">
             <h4 matLine class="map"> Termination Letter</h4>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> Fully Executed</h4>
                                         </div>   
          </div>
         </mat-list-item>
        <mat-list-item>
          <div class="itemDetailSide" style="">
   
           <div matLine class="itemMap">
             <h4 matLine class="map">  Termination Request Date </h4>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> 1/31/2023 </h4>
                                         </div>   
          </div>
         </mat-list-item>
        <mat-list-item>
          <div class="itemDetailSide" style="">
   
           <div matLine class="itemMap">
             <h4 matLine class="map">  Termination Effective Date </h4>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> 1/31/2023 </h4>
                                         </div>   
          </div>
         </mat-list-item>

         <mat-list-item>
          <div class="itemDetailSide" style="">
   
           <div matLine class="itemMap">
             <h4 matLine class="map">  Reason For Termination </h4>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> Finish </h4>
                                         </div>   
          </div>
         </mat-list-item>
         <mat-list-item>
          <div class="itemDetailSide" style="">
   
           <div matLine class="itemMap">
             <h4 matLine class="map">   Penalties For Termination   </h4>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> - </h4>
                                         </div>   
          </div>
         </mat-list-item>
         <mat-list-item>
          <div class="itemDetailSide" style="">
   
           <div matLine class="itemMap">
             <h4 matLine class="map">  Plan For Liquidation Account    </h4>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> - </h4>
                                         </div>   
          </div>
         </mat-list-item>
         <mat-list-item>
          <div class="itemDetailSide" style="">
   
           <div matLine class="itemMap">
             <h4 matLine class="map">  Comments    </h4>
             </div>
 
     
                         <div matLine class="text-left itemAnalyst">
                                             <h4 matLine class="map"> - </h4>
                                         </div>   
          </div>
         </mat-list-item>




     
    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <div fxLayout="row" fxLayoutAlign="space-around center">

      <div class="container-title p-4">
        <h2 class="mat-h2 m-2" color="Primary" style="margin-bottom: 0;">
            <mat-icon>compare</mat-icon> Change Requests
        </h2>
        <!-- <button style="margin-top: -10px;" (click)="showFilters = !showFilters" mat-button color="primary"> <mat-icon>search</mat-icon></button> -->
      </div>  
    
      <ng-container *ngIf="itemsGroups">
                    <ng-container *ngFor="let group of itemsGroups | keyObject">
                      <h3 matSubheader>Request Type: {{group?.key}}</h3>
                    
              <ng-container *ngIf="group?.value">


                          <mat-accordion *ngFor="let item of group.value; let i = index" class="example-headers-align" multi>
                            <mat-expansion-panel *ngIf="i < 5">
                              <mat-expansion-panel-header [collapsedHeight]="'70px'">
                                  <!-- <mat-panel-title style="display: grid;">
                                    <span class="Text">{{item.RequestStatusDesc}}</span>
                                    <span class="link" style="opacity:0.7">{{item.CreateDatetime | date:'short'}}</span>
                                  </mat-panel-title>
                                  <mat-panel-description style="display: grid;">
                                    <span class="Text"  matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over">
                                      {{item.InvestmentVehicleName}}
                                    </span>
                                    <span class="link" style="opacity:0.7"> {{item.MAPNumber}}</span>
                                  </mat-panel-description> -->

                                  <mat-nav-list>
                                  <mat-list-item class="itemLine">
                              
                                    <div class="listGrid">
                                        <span matLine class="tdManager"
                                                [ngClass]="'itemApproved'">
                                                <h4 matLine>{{item.InvestmentVehicleName}}</h4>
                                                <p matLine class="subline">{{item.RequestStatusDesc}} </p>
                                            </span>
                                            <div class="tdOptions">
                                                <span matLine class="itemMap">
                                                    <h4 matLine class="map">{{item.MAPNumber}}</h4>
                                                    <p matLine class="subline">{{item.CreateDatetime | date:'short'}}</p>
                                                </span>
                                            </div>                                     
                                    </div>
      

                                </mat-list-item>
                              </mat-nav-list>
                                
                              </mat-expansion-panel-header>
                    
                              <div class="panelContent PanelDetailList">
                    

                                <h4 matSubheader style="display: flex; justify-content: space-between;">
                                  <span>Termination Pending Approval</span>  <button mat-icon-button (click)="sidenav.toggle()" class="btnOpenDEtail" color="primary"> <mat-icon>list</mat-icon></button>
                                </h4>  
                                <b class="subSection">Product Head Pending approval by anyone below</b>

                               



                                <mat-nav-list>
                                  <mat-list-item class="itemLine">
                                      <ng-container >
                                          <span matLine class="tdManager">
                                              <h4 matLine>Veronica Bogado</h4>
                                          </span>
                                          <div class="btnGroupActions">
                                            <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                              <mat-icon>block</mat-icon>
                                            </button>   
                                              <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                <mat-icon>check</mat-icon> 
                                              </button>
                                          </div>                                
                                      </ng-container>
                                  </mat-list-item>                          
                                  <mat-list-item class="itemLine">
                                      <ng-container >
                                          <span matLine class="tdManager">
                                              <h4 matLine>Vanesa Alvarez</h4>
                                          </span>
                                          <div class="btnGroupActions">
                                            <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                              <mat-icon>block</mat-icon>
                                            </button>   
                                              <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                <mat-icon>check</mat-icon> 
                                              </button>
                                          </div>                                          
                                      </ng-container>
                                  </mat-list-item>                          
                              </mat-nav-list>

                            
                    
                                <br>

                     
                                <b class="subSection">Investment Executive Pending approval by:</b>
                                <mat-nav-list>
                                  <mat-list-item class="itemLine">
                                      <ng-container >
                                          <span matLine class="tdManager">
                                              <h4 matLine>Veronica Bogado</h4>
                                          </span>
                                          <div class="btnGroupActions">
                                            <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                              <mat-icon>block</mat-icon>
                                            </button>   
                                              <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                <mat-icon>check</mat-icon> 
                                              </button>
                                          </div>                                
                                      </ng-container>
                                  </mat-list-item>                          
                                  <mat-list-item class="itemLine">
                                      <ng-container >
                                          <span matLine class="tdManager">
                                              <h4 matLine>Dolores Tagle</h4>
                                          </span>
                                          <div class="btnGroupActions">
                                            <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                              <mat-icon>block</mat-icon>
                                            </button>   
                                              <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                <mat-icon>check</mat-icon> 
                                              </button>
                                          </div>                                          
                                      </ng-container>
                                  </mat-list-item>                          
                                </mat-nav-list>
                        
                    
                                <br>

                                <b class="subSection">Ops Co-Heads Pending approval by:</b>
                                <mat-nav-list>
                                  <mat-list-item class="itemLine">
                                      <ng-container >
                                          <span matLine class="tdManager">
                                              <h4 matLine>Veronica Bogado</h4>
                                          </span>
                                          <div class="btnGroupActions">
                                            <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                              <mat-icon>block</mat-icon>
                                            </button>   
                                              <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                <mat-icon>check</mat-icon> 
                                              </button>
                                          </div>                                
                                      </ng-container>
                                  </mat-list-item>                          
                                  <mat-list-item class="itemLine">
                                      <ng-container >
                                          <span matLine class="tdManager">
                                              <h4 matLine>Dolores Tagle</h4>
                                          </span>
                                          <div class="btnGroupActions">
                                            <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                              <mat-icon>block</mat-icon>
                                            </button>   
                                              <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                <mat-icon>check</mat-icon> 
                                              </button>
                                          </div>                                          
                                      </ng-container>
                                  </mat-list-item>                          
                                  <mat-list-item class="itemLine">
                                      <ng-container >
                                          <span matLine class="tdManager">
                                              <h4 matLine>Alejandro Beltran </h4>
                                          </span>
                                          <div class="btnGroupActions">
                                            <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                              <mat-icon>block</mat-icon>
                                            </button>   
                                              <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                <mat-icon>check</mat-icon> 
                                              </button>
                                          </div>                                          
                                      </ng-container>
                                  </mat-list-item>                          
                                </mat-nav-list>


                    
                                <br>





                    
                                <div style="display: flex;">
                                  <button mat-stroked-button color="secondary"> Cancel Termination</button>
                                  <button mat-stroked-button color="primary"> <mat-icon>email</mat-icon> Resend Notification</button>
                                </div>
                                <small style="padding:10px 20px 20px 10px ">Last email notifications on 1/18/2023 4:44 PM</small>
                              </div>
                            </mat-expansion-panel>  
                    
                          </mat-accordion>
              </ng-container>
                    
                  
                    </ng-container>

      </ng-container>
      





       <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="'70px'">
             <mat-panel-title style="display: grid;">
                <span class="Text">Submited to Workflow</span>
                <span class="link" style="opacity:0.7">2/27/2023 4:30 PM</span>
             </mat-panel-title>
             <mat-panel-description style="display: grid;">
               <span class="Text"  matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over">Lighthouse Solutions</span>
               <span class="link" style="opacity:0.7">Redmile MAP 20</span>
             </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="panelContent">

    
            <mat-list>

              <h4 (click)="sidenav.toggle()" matSubheader>Counterparty submited to Workflow</h4>  
            
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
         
            </mat-list>

           <br>

           <div style="margin: 0 30px 0 10px;">
              <button mat-stroked-button color="primary"> <mat-icon>email</mat-icon> Resend Notification</button> <br>
              <br>
              <small>Last email notifications on 1/18/2023 4:44 PM</small>
           </div>
         
           <br>
          </div>
        </mat-expansion-panel>  

      </mat-accordion>
       <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="'70px'">
             <mat-panel-title style="display: grid;">
                <span class="Text">Submited to Workflow</span>
                <span class="link" style="opacity:0.7">2/27/2023 4:30 PM</span>
             </mat-panel-title>
             <mat-panel-description style="display: grid;">
               <span class="Text"  matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over">Lighthouse Solutions</span>
               <span class="link" style="opacity:0.7">Redmile MAP 20</span>
             </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="panelContent">

    
            <mat-list>

              <h4 (click)="sidenav.toggle()" matSubheader>Counterparty submited to Workflow</h4>  
            
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
         
            </mat-list>

           <br>

           <div style="margin: 0 30px 0 10px;">
              <button mat-stroked-button color="primary"> <mat-icon>email</mat-icon> Resend Notification</button> <br>
              <br>
              <small>Last email notifications on 1/18/2023 4:44 PM</small>
           </div>
         
           <br>
          </div>
        </mat-expansion-panel>  

      </mat-accordion>
       <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="'70px'">
             <mat-panel-title style="display: grid;">
                <span class="Text">Submited to Workflow</span>
                <span class="link" style="opacity:0.7">2/27/2023 4:30 PM</span>
             </mat-panel-title>
             <mat-panel-description style="display: grid;">
               <span class="Text"  matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over">Lighthouse Solutions</span>
               <span class="link" style="opacity:0.7">Redmile MAP 20</span>
             </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="panelContent">

    
            <mat-list>

              <h4 (click)="sidenav.toggle()" matSubheader>Counterparty submited to Workflow</h4>  
            
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
         
            </mat-list>

           <br>

           <div style="margin: 0 30px 0 10px;">
              <button mat-stroked-button color="primary"> <mat-icon>email</mat-icon> Resend Notification</button> <br>
              <br>
              <small>Last email notifications on 1/18/2023 4:44 PM</small>
           </div>
         
           <br>
          </div>
        </mat-expansion-panel>  

      </mat-accordion>
       <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="'70px'">
             <mat-panel-title style="display: grid;">
                <span class="Text">Submited to Workflow</span>
                <span class="link" style="opacity:0.7">2/27/2023 4:30 PM</span>
             </mat-panel-title>
             <mat-panel-description style="display: grid;">
               <span class="Text"  matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over">Lighthouse Solutions</span>
               <span class="link" style="opacity:0.7">Redmile MAP 20</span>
             </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="panelContent">

    
            <mat-list>

              <h4 (click)="sidenav.toggle()" matSubheader>Counterparty submited to Workflow</h4>  
            
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matLine >
                  <h4 matLine>Product Head Investment MD Pending Approval by</h4>
                  <p matLine class="subline">Enzo LHP Tribbia</p>
                </span>
                <div class="btnGroupActions">
                  <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                    <mat-icon>block</mat-icon>
                  </button>   
                    <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                      <mat-icon>check</mat-icon>
                    </button>
                                  
                </div>
              </mat-list-item>
         
            </mat-list>

           <br>

           <div style="margin: 0 30px 0 10px;">
              <button mat-stroked-button color="primary"> <mat-icon>email</mat-icon> Resend Notification</button> <br>
              <br>
              <small>Last email notifications on 1/18/2023 4:44 PM</small>
           </div>
         
           <br>
          </div>
        </mat-expansion-panel>  

      </mat-accordion>


      <h3 matSubheader>Request Type: IAA Amendment</h3>
      <h3 matSubheader>Request Type: New Managed Account</h3>
      <h3 matSubheader>Request Type: Termination</h3>
        

</div>
  </div>

</mat-sidenav-container>

    